.light-list-element {
	position: relative;
}

.light-operation-group-btn > div > Button {
	margin-top: 15px;
}

.edit-btn {
	margin-right: 5%;
}

.card {
	width: 500px !important;
}

.btn-light-edit {
	flex-direction: row
}

.room-list-btn {
	float: left;
	margin-bottom: 2%;
}
