.toast-block {
	position: fixed;
	min-width: 200px;
	bottom: 50px;
	right: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 1;
}

.toast-block-content > div {
	min-width: 200px;
	width: 400px;
}
